.speed {
  background-image: url(./spidemetr.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
