*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
}
table {
  margin: 50px 50px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 5px 10px;
}
th {
  text-align: start;
}

.update-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 30px 50px;
  gap: 10px;
}

input,
button {
  padding: 5px 10px;
  font-size: 16px;
}

.update-user > button {
  background-color: orange;
  color: #ffffff;
}

.update-user > .save-user {
  background-color: green;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.create-user {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 20px 50px;
  gap: 14px;
}

.create-user .btn {
  background-color: orange;
  color: #ffffff;
}
.create-user .create-user-btn {
  background-color: green;
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.display-none {
  display: none;
}
